<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Clicker Clone</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <section id="app">
    
  </section>

  <div id="errorMessage" class="hidden">

  </div>
  <script src="/assets/appBundle.js"></script>
</body>
</html>
